@media (max-width:300px){
    
    #header-img{
        display: row;
        width: 50px;
        height: auto;
        align-items: flex-end;
        background-color: rgb(199, 132, 69);
    }
    }
body{
    background-color: lightcyan;
}
#header-img{
    display: row;
    width: 100px;
    height: auto;
    align-items: flex-end;
    background-color: rgb(199, 132, 69);
}
#nav-bar{
    display: flex;
    justify-content: flex-end;
}
a{
    text-decoration: none;
}
#link-list a{
    margin-right: 20px;
}
#link-list{
    position: fixed;
    top: 0px;
    margin-right: 20px;
}
#video{
    margin-top: 60px;
    margin-left: 245px;
}
#form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#submit{
    padding: 10px;
}
@media (max-width:300px){
    
#header-img{
    display: row;
    width: 50px;
    height: auto;
    align-items: flex-end;
    background-color: rgb(199, 132, 69);
}
}
#How_does_it_work{
    display: flex;
    
    margin-left: 45px;
    margin-top: 10px;
    margin-right: 25px;
    font-size: 35px;
}

